{% extends 'base.html' %}
{% load staticfiles %}

{% block script %}
    <script>
        /*********
        *  Ajax Section
        *********/
        $(document).ready(function(){

            var wrapper = $('.ajax-wrapper');
            var replacementWrapper = $('.ajax-replacement-wrapper');
            var getFeed = true;
            var url = "";


            $('.ajax-btn').click(function () {
                wrapper.toggle();
                replacementWrapper.toggle();

                if(getFeed === true){
                    $.ajax({
                        type: 'GET',
                        url: url,
                        success: function(response) {

                            console.log(response);

                            getFeed = false;

                    },
                    error: function(error, response) {
                        console.log("Error message: " + error);
                        console.log(response);
                        getFeed = false;
                    }
                });
                } else {
                    getFeed = true;
                }
            })
        });

    </script>
{% endblock %}

{% block content %}
    <div class="main">
        <div class="container">
            <div class="row section-padding">
                <div class="col-md-6 col-md-offset-1">
                    <h4 class="header-text text-left title-padding">About</h4>

                    <p>
                        For the last seven years, I have worked in the IT industry, from providing support for users to infrastructure in universities to financial trading floors. I have been exposed to a lot of technology during my experience and find myself constantly learning new technology, which is one of the aspects I enjoy working in IT.</p>

                    <p>
                        In early 2014, I decided to train to become a software engineer - something that I have always wanted to do but didn't have the confidence to take up, as I was under the impression that you needed to be a rocket scientist or something of that regard.
                    </p>

                    <p>
                        I started with learning Java - learning the basic principles of programming and Object Oriented Programming. I was particularly fond of creating Apps for Android as the tools are free and Google provide a lot of documentation. Once I become confident with programming, I started to learn frontend web technologies such as HTML5, CSS3 and Javascript. This is when I discovered Python and the Django framework. Since discovering Python, I have to say, I'm a huge fan and find myself researching what else I can use Python for.
                    </p>
                    <p>
                    More recently, I have completed many courses from Codecademy.com, Treehouse.com, CodingForEntrepreneurs.com and  Dataquest.io, as well as many Django tutorials such as Django Polls and DjangoGirls. In these courses I have progressed with learning Python and have also become familiar with Django, jQuery, Bootstrap, Git, SQL, AJAX, REST APIs, libraries such as Requests, NumPy, Pandas, scripting using Bash, Bat and PowerShell and with using Windows CMD, Mac OS X and linux terminals.
                    </p>

                    <p>
                        My goal is that one day I will be part of something truly amazing and that I can be proud to have contributed to it.
                    </p>
                </div>

                <div class="col-md-4 col-md-offset-1">
                    <h4 class="header-text text-left title-padding">Contact</h4>

                    <div class="contact">
                        <i class="fa fa-twitter fa-2x" id="twitter-icon"></i>
                        <p class=""><a class="remove-decoration" href="https://twitter.com/g_fusiello">@g_fusiello</a></p>
                    </div>
                    <div class="contact">
                        <i class="fa fa-google-plus fa-2x" id="google-icon"></i>
                        <p><a class="remove-decoration" href="https://plus.google.com/+GiancarloFusiello/">+GiancarloFusiello</a></p>
                    </div>
                    <div class="contact">
                        <i class="fa fa-envelope-o fa-2x" id="email-icon"></i>
                        <p><a class="remove-decoration" href="mailto:someemail@domain.com">carlofusiello@gmail.com</a></p>
                    </div>

                </div>
            </div>
        </div><!-- /CONTAINER -->
    </div><!-- /MAIN -->

    <!-- AJAX SECTION -->
    <section class="section section-ajax white-text" style="background-image: url('{% static "img/grey-background.jpg" %}')">
        <div class="container">
            <div class="row section-padding">
                <div class="col-md-10 col-md-offset-1">

                    <h4 class="header-text title-padding white-text large-title" id="ajax-title">REST API & Ajax</h4>

                    <div class="ajax-wrapper text-center">

                        <p>Here is an example of how AJAX can be used to retrieve some data from this website's database. The data retrieved can then be processed and displayed onscreen.</p>

                        <button class="btn btn-danger btn-round ajax-btn" type="button">Get Images</button>

                    </div>

                    <div class="ajax-replacement-wrapper text-center">

                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="..." alt="...">
                                    <div class="carousel-caption">
                                        ...
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="..." alt="...">
                                    <div class="carousel-caption">
                                        ...
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="..." alt="...">
                                    <div class="carousel-caption">
                                        ...
                                    </div>
                                </div>
                                ...
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                            <p>In this example, a REST API was created so that AJAX requests from this website can used to retrieve some images from the database. The AJAX request to the server will handle the returned data and display it on screen.</p>
                            <button class="btn btn-danger btn-fill btn-round ajax-btn" type="button">Back</button>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- /AJAX SECTION -->

    <!-- REST SECTION -->


    <!-- /REST SECTION -->

    <!-- DATA ANALYSIS SECTION -->


    <!-- /DATA ANALYSIS SECTION -->

    <!-- MACHINE LEARNING SECTION-->


    <!-- /MACHINE LEARNING SECTION-->


{% endblock %}