{% extends 'base.html' %}
{% load staticfiles %}

{% block script %}
    <script>

        /*********
        *  Global Functions
        *********/

        // Show loading animation until images have finished loading
        //remove animated divs
        function stopLoader() {

            $('body').addClass("loaded");

            setTimeout(function () {
                        $('.loader-section').addClass('animated fadeOut');
                    }, 450
            );

            setTimeout(function () {
                        $('.spinner').remove();
                        $('#loader-section').remove();
                        $('#ajax-carousel').removeClass("loading-section-wrapper");
                        $('body').removeClass("loaded");
                    }, 1000
            );
        }


        /*********
        *  Nav Bar
        *********/
        $(document).ready(function(){

            // Scroll to Ajax section
            $('#ajax-nav-link').click(function(){
                $("html, body").animate({ scrollTop: $('#ajax-title').offset().top - 50 }, 1000);
            });

            // Scroll to 3rd Party API section
            $('#api-nav-link').click(function(){
                $("html, body").animate({ scrollTop: $('#api-title').offset().top - 50 }, 1000);
            });

            // Scroll to Data Analysis section
            $('#data-nav-link').click(function(){
                $("html, body").animate({ scrollTop: $('#data-title').offset().top - 50 }, 1000);
            });

            // Scroll to Machine Learning section
            $('#machine-nav-link').click(function(){
                $("html, body").animate({ scrollTop: $('#machine-title').offset().top - 50 }, 1000);
            });


        });

        /*********
        *  Ajax Section
        *********/
        $(document).ready(function(){

            var wrapper = $('#ajax-wrapper');
            var replacementWrapper = $('#ajax-replacement-wrapper');
            var getFeed = true; // Used to toggle AJAX
            var carousel = $('#ajax-carousel');
            var carText = $('#carousel-text');
            var errorText = 'Something went wrong. Please go back and try again.';
            var successText = $('#carousel-text').val();
            var url = "{% url 'images_api' %}";


            $('.ajax-btn').click(function () {
                wrapper.toggle();
                replacementWrapper.toggle();


                if(getFeed === true){
                    $.ajax({
                        type: 'GET',
                        url: url,
                        success: function(response) {

                            // Scroll to display new content
                            $("html, body").animate({ scrollTop: $('#ajax-title').offset().top - 50 }, 1000);

                            // Populate carousel with images from AJAX request
                            for(var i = 0; i < response.length;  i++){
                                  $('#img-' + (i + 1)).css('background-image', 'url(' + response[i]['image'] + ')');
                            }

                            getFeed = false;

                            if(carText.val() === errorText){
                                carText.val(successText);
                            }

                    },
                        error: function(error, response) {
                            console.log("Error message: " + error);
                            console.log(response);
                            getFeed = false;
                            carousel.hide();
                            carText.val(errorText);

                    },
                        complete: function(){
                            stopLoader();
                        }
                    });
                } else {
                    getFeed = true;
                }
            })
        });

    </script>
{% endblock %}

{% block content %}
    <div class="main">
        <div class="container">
            <div class="row section-padding">
                <div class="col-md-6 col-md-offset-1">
                    <h4 class="header-text text-left title-padding">About Me</h4>

                    <p>
                        For the last seven years, I have worked in the IT industry, from providing support for users to infrastructure in universities to financial trading floors. I have been exposed to a lot of technology during my experience and find myself constantly learning about new technologies, which is one of the aspects I enjoy working in IT.</p>

                    <p>
                        In early 2014, I decided to re-train myself to become a software engineer - something that I have always wanted to do but didn't have the confidence to take up earlier but now I'm determined.
                    </p>

                    <p>
                        I started with learning Java - learning the basic principles of programming and Object Oriented Programming. I was particularly fond of creating Apps for Android as the tools are free and Google provide a lot of documentation. Once I become confident with programming, I started to learn frontend web technologies such as HTML5, CSS3 and Javascript. Shortly after, I discovered Python and the Django framework. Since discovering Python, I have to say, I'm a huge fan and find myself researching what else I can use Python for.
                    </p>
                    <p>
                    More recently, I have completed many courses from <a target="_blank" href="https://www.codecademy.com/">Codecademy.com</a>, <a target="_blank" href="https://teamtreehouse.com/">Treehouse.com</a>, <a target="_blank" href="https://codingforentrepreneurs.com/">CodingForEntrepreneurs.com</a> and  <a target="_blank" href="https://www.dataquest.io/">Dataquest.io</a>, as well as many Django tutorials such as <a target="_blank" href="https://docs.djangoproject.com/en/1.8/intro/tutorial01/">Django Polls</a> and <a target="_blank" href="http://tutorial.djangogirls.org/">DjangoGirls</a>. In these courses I have progressed with learning Python and have also become familiar with Django, jQuery, Bootstrap, Git, SQL, AJAX, REST APIs, libraries such as Requests, NumPy, Pandas, scripting using Bash, Bat and PowerShell and with using Windows CMD, Mac OS X and linux terminals.
                    </p>

                    <p>
                        My goal is make a career out of something I enjoy so that I never have to work another day again.
                    </p>
                </div>

                <div class="col-md-4 col-md-offset-1">
                    <img src="{% static 'img/carlo.jpg' %}" alt="Circle Image" id="img-carlo" class="img-circle">

                    <div class="contact">
                        <i class="fa fa-github fa-2x" id="github-icon"></i>
                        <p class=""><a class="remove-decoration" target="_blank" href="https://github.com/GiancarloFusiello/">GiancarloFusiello</a></p>
                    </div>

                    <div class="contact">
                        <i class="fa fa-twitter fa-2x" id="twitter-icon"></i>
                        <p class=""><a class="remove-decoration" target="_blank" href="https://twitter.com/g_fusiello">@g_fusiello</a></p>
                    </div>
                    <div class="contact">
                        <i class="fa fa-google-plus fa-2x" id="google-icon"></i>
                        <p><a class="remove-decoration" target="_blank" href="https://plus.google.com/+GiancarloFusiello/">+GiancarloFusiello</a></p>
                    </div>

                    <div class="contact">
                        <i class="fa fa-linkedin-square fa-2x" id="linkedin-icon"></i>
                        <p class=""><a class="remove-decoration" target="_blank" href="https://uk.linkedin.com/in/giancarlofusiello">GiancarloFusiello</a></p>
                    </div>

                    <div class="contact">
                        <i class="fa fa-envelope-o fa-2x" id="email-icon"></i>
                        <p><a class="remove-decoration" target="_blank" href="mailto:someemail@domain.com">carlofusiello@gmail.com</a></p>
                    </div>

                </div>
            </div>
        </div><!-- /CONTAINER -->
    </div><!-- /MAIN -->

    <!-- AJAX SECTION -->
    <section class="section section-ajax white-text" style="background-image: url('{% static "img/grey-background.jpg" %}')">
        <div class="container">
            <div class="row section-padding">
                <div class="col-md-10 col-md-offset-1">

                    <h4 class="header-text title-padding white-text large-title" id="ajax-title">REST API & Ajax</h4>

                    <div id="ajax-wrapper" class="text-center">

                        <p>Here is an example of how AJAX can be used to retrieve some data from this website's database. The data retrieved can then be processed and displayed onscreen using Javascript.</p>

                        <button class="btn btn-danger btn-round btn-fill ajax-btn" type="button">Get Data</button>

                    </div>

                    <div id="ajax-replacement-wrapper" class="text-center">

                        <div id="ajax-carousel" class="carousel slide loading-section-wrapper" data-ride="carousel">

                            <div class="spinner"></div>

                            <div class="loader-section section-left" style="background: #000"></div>
                            <div class="loader-section section-right" style="background: #000"></div>
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#ajax-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#ajax-carousel" data-slide-to="1"></li>
                                <li data-target="#ajax-carousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active" id="img-1"></div>
                                <div class="item" id="img-2"></div>
                                <div class="item" id="img-3"></div>
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#ajax-carousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#ajax-carousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                            <p id="carousel-text">In this example, a REST API was created to serve images from the website's database. When you pressed the button, it used AJAX to request some data. Once the request response had been successfully received, a javascript function was used to process that data. The Javascript function modified the DOM and updated the website to show the new content.</p>
                        <p>The back button below will update the site again so it looks like it has reverted the changes.</p>
                            <button class="btn btn-danger btn-fill btn-round ajax-btn" type="button">Back</button>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- /AJAX SECTION -->

    <!-- 3RD PARTY API SECTION -->
    <section class="section section-api">
        <div class="container">
            <div class="row section-padding">
                <div class="col-md-10 col-md-offset-1">

                    <h4 class="header-text title-padding large-title text-center" id="api-title">Third Party API</h4>

                    <div id="api-wrapper" class="text-center">

                        <p>In this section, I will demonstrate requesting and serving data from another website with public APIs using django views and the python requests library.</p>

                        <p>The API being used is from <a target="_blank" href="http://www.rottentomatoes.com/">RottenTomatoes.com</a>. Enter the name of a movie below and you should see information about that movie appear on screen.</p>

                        <form id="api-form" action="" method="POST" role="search">
                            {% csrf_token %}
                            <div id="custom-search-input">
                                <div class="input-group col-md-6 col-md-offset-3">
                                  <input type="text" class="search-query form-control" placeholder="Search for a movie and hit enter" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div id="api-replacement-wrapper" class="text-center">


                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- /3RD PARTY API SECTION -->

    <!-- DATA ANALYSIS SECTION -->
    <section class="section section-data white-text">
        <div class="container">
            <div class="row section-padding">
                <div class="col-md-10 col-md-offset-1">

                    <h4 class="header-text title-padding large-title white-text" id="data-title">Data Analysis</h4>

                    <p>Coming Soon...</p>

                </div>
            </div>
        </div>
    </section>
    <!-- /DATA ANALYSIS SECTION -->

    <!-- MACHINE LEARNING SECTION-->
    <section class="section section-machine white-text">
        <div class="container">
            <div class="row section-padding">
                <div class="col-md-10 col-md-offset-1">

                    <h4 class="header-text title-padding large-title white-text" id="machine-title">Machine Learning</h4>

                    <p>Coming Soon...</p>

                </div>
            </div>
        </div>
    </section>
    <!-- /MACHINE LEARNING SECTION-->


{% endblock %}