{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Giancarlo Fusiello">
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Giancarlo Fusiello personal portfolio website. This site is built using Python Django and demonstrates the use of AJAX, RESTful APIs, Data Analysis and Machine Learning."/>

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">


    <!-- PAGE TITLE -->
    <title>{% block title %}Giancarlo Fusiello | Python Developer{% endblock %}</title>


    <!-- STYLESHEETS -->

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <!-- Get Sh*t Done -->
        <link href="{% static 'css/get_shit_done.css' %}" rel="stylesheet">

        <!-- Animate.css -->
        <link href="{% static 'css/animate.css' %}" rel="stylesheet">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>

        <!-- Font Awesome CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <!-- Site CSS -->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">

        <!-- Page Specific CSS -->
        {% block stylesheet %}{% endblock %}

    <!-- /STYLESHEETS -->




    <!-- LOADING SCRIPTS -->

        <!-- Jquery CDN -->
            <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
            <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


        <script>
            $(window).load(function(){

                $('body').addClass("loaded");

                setTimeout(function(){
                    $('#intro-title').show().addClass('animated fadeInLeft');
                    $('#intro-subtitle').show().addClass('animated fadeInRightBig');
                    }, 450
                );

                setTimeout(function(){
                    $('#loading-page').remove();
                    $('body').removeClass("loaded");
                    }, 1000
                );

            });
        </script>

    <!-- /LOADING SCRIPTS -->


</head>

<body>

    <!-- NAV BAR -->
    <div id="navbar-full">
        <div id="navbar">
            <!--
                navbar-default can be changed with navbar-ct-blue navbar-ct-azzure navbar-ct-red navbar-ct-green navbar-ct-orange
                -->
            <nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">GiancarloFusiello.net</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Skill Demos<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a id="ajax-nav-link">REST API & AJAX</a></li>
                                    <li><a id="api-nav-link">Third Party API</a></li>
                                    <li class="divider"></li>
                                    <li><a id="data-nav-link">Data Analysis</a></li>
                                    <li><a id="machine-nav-link">Machine Learning</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <div class="blurred-container">
                <div class="img-src" style="background-image: url({% static 'img/md-blue.jpg' %})">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 id="intro-title" class="text-center text-intro">Giancarlo Fusiello</h1>
                        <img class="img-responsive animated fadeIn" id="py-logo" src="{% static 'img/py-logo.png' %}" alt="python logo icon"/>
                        <div class="cycle-slideshow"
                             data-cycle-fx="fade"
                             data-cycle-timeout="2000"
                             data-cycle-slides="> div"
                             data-cycle-center-horz=true>

                            <div>
                                <h3 id="intro-subtitle" class="text-intro">
                                    <span class="text-yellow">Python</span>
                                    <span class="text-blue"> Developer</span>
                                </h3>
                            </div>
                            <div>
                                <h3 class="text-intro">
                                    <span class="text-yellow">FullStack</span>
                                    <span class="text-blue"> Developer</span>
                                </h3>
                            </div>
                            <div>
                                <h3 class="text-intro">
                                    <span class="text-yellow">Data</span>
                                    <span class="text-blue">Analyst</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--  end navbar -->
    </div><!-- /NAV BAR -->


    <!-- LOADING PAGE -->
    <div id="loading-page" class="loading-page-wrapper">
        <div class="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- /LOADING PAGE -->


    <!-- CONTENT -->
    {% block content %}
    {% endblock %}
    <!-- /CONTENT -->


    <!-- FOOTER -->
    <section class="section-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <p class="text-center">&copy; Giancarlo Fusiello - 2015</p>
                </div>
            </div>
        </div>
    </section>
    <!-- /FOOTER -->


    <!-- SCRIPTS -->

        <!-- Bootstrap CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

        <!-- Get Sh*t Done -->
        <script src="{% static 'js/get_shit_done.js' %}"></script>

        <!-- Cycle2 CDN -->
        <script src="http://malsup.github.com/jquery.cycle2.js"></script>
        <script src="http://malsup.github.io/jquery.cycle2.center.js"></script>

        <!-- Twitter API Widgets -->
        <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

        <!-- Site JS -->
        <script src="{% static 'js/scripts.js' %}"></script>

        <!-- Page Specific JS -->
        {% block script %}{% endblock %}

    <!-- /SCRIPTS -->

</body>
</html>